/* color

#bg-grey{
    background-color: #F6F8F9;
} 
o è di default?

.bg-blu{
    background-color: #47ADF1;
}

#bg-purple{
    background-color: #9C72E4;
}
#bg-green{
    background-color: #64C0A9;
}
#bg-orange{
    background-color: #F29E33;
}
#bg-light-green{
    background-color: #B0C926;
}
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 24px;
    font-family:Arial, Helvetica, sans-serif
}
/* header */
header{
    padding: 1%;
}
h1{
    display: inline-block;
    vertical-align: middle;
    position: absolute;
}
#logo-taboolist{
    vertical-align: middle;
    position: relative;

}
/* header */

/* main */
#bg-grey{
    background-color: #F6F8F9;
    padding: 2%;
}
#box-center{
    margin-left: 10%;
    margin-right: 10%;
}
.bg-white{
    background-color: #FFFFFF;
    margin: auto;
    margin-bottom: 1%;
    padding: 1%;
}
#button-section{
    border: 1px solid white;
    border-radius: 3px;
}
button{
    width: 80px;
    height: 40px;
    border: 1px solid #CED3D7;
    border-radius: 7px;
    background-color: white;
    color: #CACFD4;
    position: relative;
}
.bg-blu{
    background-color: #47ADF1;
    color: white;
    margin-left: 2%;
}


/* main */

