/* color

#bg-grey{
    background-color: #F6F8F9;
} 
o è di default?

.bg-blu{
    background-color: #47ADF1;
}

#bg-purple{
    background-color: #9C72E4;
}
#bg-green{
    background-color: #64C0A9;
}
#bg-orange{
    background-color: #F29E33;
}
#bg-light-green{
    background-color: #B0C926;
}
*/


